<a mat-stroked-button routerLink="/contacts/new" id="new-contact"> Nuevo Contacto</a>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 card">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let contact"> {{contact.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let contact"> {{contact.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let contact"> {{contact.telephone}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Accion </th>
    <td mat-cell *matCellDef="let contact">
      <button mat-icon-button color="primary" (click)="editContactoDetail(contact.id); $event.stopPropagation()" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="openDeleteDialog(contact.id); $event.stopPropagation()" >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'surname', 'lastname', 'telephone', 'email', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'surname', 'lastname', 'telephone', 'email', 'actions'];"
  (click)="openDetailForm(row)"
  ></tr>
</table>
